<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Libertalia</title>
    <link rel="stylesheet" href="styles.css">
</head>


    
<body>
    <div id = "searchbox" >
      <input type = "search" value = "" id ="search" onchange = "openPage()" >
    </div>
    <script>
        function openPage(){
            var x = document.getElementById("search").value;
            if(x === "stickman fighters"){
                window.open("/stickman_fighters.html");
            }
        }
    </script>
    
    

</body>
</html>