body {
    background-image: url('indexPage.png');
    position: relative;
    
    
    
    
}

.searchbox{
  float: right;
  
  
  margin-top: 10px;
 
  
  

}


.searchbox input {
    height: 100px;
    width: 300px;
    left: -200px;
    
    position: relative;
}
.square {
    height: 50px;
    width: 1800px;
    background-color: #555;
  }

